@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Danfo&family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Reddit+Mono:wght@200..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap');

/* Media queries */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
    transition: all 0.5s ease-in-out;
}

body {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f, #d6ad60);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: #12121280;
    padding: 20px;
    max-width: 768px;
    width: fit-content;
    border-radius: 30px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(255, 255, 255, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border-radius: 30px;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

@media (max-width: 768px) {
    .calculator {
        background-color: rgba(18, 18, 18, 0.071);
        padding: 64px;
    }

    .calculator form input {
        width: 40px;
        height: 40px;
        font-size: 16px;
        padding: 5px;
    }

    .calculator form input.equal {
        width: 90px;
    }

    .damn {
        background-color: rgba(18, 18, 18, 0.071);
    }
}

@media (max-width: 700px) {
    .calculator {
        background-color: rgba(18, 18, 18, 0.071);
        padding: 64px;
    }

    .damn {
        padding: 10px;
        background-color: none;
    }
}

@media (max-width: 400px) {
    .container {
        height: 100%;
    }

    .calculator {
        width: 100%;
        height: 100%;
        background-color: rgba(18, 18, 18, 0.071);
    }

    .calculator form input {
        width: 30px;
        height: 30px;
        font-size: 12px;
        padding: 2px;
    }

    .calculator form input.equal {
        width: 60px;
    }

    .damn {
        padding: 0;
        background-color: none;
        padding-bottom: 170px;
    }
}